<section class="flex-1 relative text-gray-800">
  <div class="bg-orange-400 absolute inset-0 z-0"></div>

  <div class="container mx-auto px-6 flex flex-col-reverse sm:flex-row items-center justify-center h-screen relative">
    <!-- Contenido -->
    <div class="mx-auto max-w-3xl text-center sm:text-left mb-16 sm:mb-0">
      <h1 class="text-5xl font-extrabold tracking-tight sm:text-5xl text-[#f5f5f5] leading-tight text-center">
        ¡Bienvenido!</h1>
      <p class="mt-8 text-3xl text-white leading-8 text-center">Explora nuestros increíbles calzados.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/products"
          class="rounded-full bg-white hover:bg-black px-6 py-3 text-lg font-semibold text-black hover:text-white shadow-lg transition duration-200 transform hover:scale-105">Ver
          Propiedades</a>
      </div>
    </div>
</section>

<div class="bg-transparent py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-5xl font-semibold leading-10 text-black italic">MHOA|Calzados</h2>
      <p class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl">¡Un calzado para tus pies!</p>
      <p class="mt-6 text-lg leading-7 text-gray-600">Nos enfocamos en la calidad del producto.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-6 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-12">
        <!-- Item 1: Tu casa Propia -->
        <div class="relative pl-10">
          <dt class="text-lg font-semibold leading-6 text-blue-900">
            <div
              class="absolute left-0 top-0 flex h-8 w-8 items-center justify-center rounded-lg bg-orange-400 text-white">
              <img src="https://i.ibb.co/7jbtsWH/nike-info.jpg" alt="Item 1">
            </div>
            Tu calzado
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-700">Un calzado Nuevo es el comienzo de una nueva aventura.</dd>
        </div>

        <!-- Item 2: Financiamientos -->
        <div class="relative pl-10">
          <dt class="text-lg font-semibold leading-6 text-blue-900">
            <div
              class="absolute left-0 top-0 flex h-8 w-8 items-center justify-center rounded-lg bg-orange-400 text-white">
              <img src="https://i.ibb.co/30t6VB6/puma-info.jpg" alt="Item 2">
            </div>
            Financiamientos
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-700">En MHOA|Calzados hacemos una unica Financiamientos para el
            calzados que elijas.</dd>
        </div>

        <!-- Item 3: Servicio al 100% Free -->
        <div class="relative pl-10">
          <dt class="text-lg font-semibold leading-6 text-blue-900">
            <div
              class="absolute left-0 top-0 flex h-8 w-8 items-center justify-center rounded-lg bg-orange-400 text-white">
              <img src="https://i.ibb.co/QFDWVQR/productos10.jpg" alt="Items 3">
            </div>
            Servicio de Envio 100% Free
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-700">En MHOA|Calzados preparammos tus envios para que lleguen en
            forma correcta</dd>
        </div>
      </dl>
    </div>
  </div>
</div>